<div class="row justify-content-center">
    <div class="col-md-8 text-center">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <mat-form-field>
                    <mat-select id="bodySelects" placeholder="Destination" [(value)]="body">
                        @for(body of bodySelects | async; track body.id) {
                        <mat-option [value]="body.id">{{body.name}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <mat-form-field>
                    <mat-select id="accelerations" placeholder="Acceleration" [(value)]="acceleration">
                        @for(accel of accelerations | async; track accel.id) {
                        <mat-option [value]="accel.value">{{accel.id}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>